<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
 <mapper namespace="com.gs.mapper.DepartmentMapper">
   
  <resultMap type="com.gs.vo.DepartmentVo" id="DepartmentVo">
    <id property="Id" column="id" />
    <result property="name" column="name" />

    <!-- 配置一对多的关系
        property：填写pojo类中集合类类属性的名称
        javaType：填写集合类型的名称 
    -->
    <collection property="list" javaType="list" ofType="com.gs.pojo.Employee">
        <!-- 配置主键，是关联Order的唯一标识 -->
        <id property="id" column="id" />
        <result property="Name" column="name" />
        <result property="Gender" column="gender" />
        <result property="Birthday" column="birthday" />
        <result property="Address" column="address" />
    </collection>

  </resultMap>
  
  
  
  <select id="selectAll"  resultType="Department">
    select * from department
  </select>
  
  <select id="getDepartment" parameterType="java.lang.String" resultType="Department">
     select * from department where id=#{id}
  </select>
  
  <insert id="addDepartment" parameterType="Department">
    INSERT INTO department (id,NAME) VALUES (#{id},#{name})
  </insert>
  
  <update id="updateDepartment" parameterType="Department">
    UPDATE department 
    <set>
      <if test="name!=null">
         name=#{name},
      </if>
     
    </set>
     
      where id=#{id}
     
  </update>
  
  <delete id="delDepartmentById" parameterType="java.lang.String">
   DELETE from department where id=#{id}
  </delete>
  
  <select id="getAllEmployeeInDepartment" resultMap="DepartmentVo">
    SELECT * FROM department d LEFT JOIN (SELECT * FROM employee) e ON d.`id`=e.did 
  </select>
  
  <select id="getSumForDepartment" resultType="com.gs.vo.DepartmentchartVo">
    SELECT *,COUNT(d.`name`) AS 'sum' FROM department d LEFT JOIN (SELECT employee.did FROM employee) e ON d.`id`= e.`did` GROUP BY d.`name` 
  </select>
  
 </mapper>